<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="EnableAdult" type="bool" id="EnableAdult" default="false"/>
    <setting label="Cache-Timeout" type="number" id="Cache-Timeout" default="24 "/>
    <setting label="Allow Hit Counter" type="bool" id="AllowHitCtr" default="true"/>    
</settings>